<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="height: 48px;background-color: dodgerblue;color: white;">
        李昆昆半夜吃炸鸡
    </div>

    <div style="position: absolute;top: 48px;bottom: 0;left: 0;width: 200px;background-color: darkgreen">
        <a class="menu" href="/cmdb/user_info">用户管理</a>
        <a class="menu" href="/cmdb/user_group">用户组管理</a>
        <a class="menu"></a>

    </div>
    <div style="position: absolute;top: 48px; left: 210px; bottom: 0;right: 0;overflow: auto;">
        <h3>添加用户</h3>
        <form method="post" action="/cmdb/user_info/">
            <input type="text" name="user">
            <input type="text" name="pwd">
            <input type="submit" value="添加">
        </form>

        <h3>用户列表</h3>
        <ul>
            {% for row in user_list %}
            <li>
                <a href="/cmdb/user_detail-{{ row.id }}/">{{ row.username }}</a>|
                <a href="/cmdb/user_del-{{ row.id }}/">删除</a>|
                <a href="/cmdb/user_edit-{{ row.id }}/">编辑</a>|
            </li>
            {% endfor %}
        </ul>



    </div>
</body>
</html>